
<!--
    <h3 appHighlight>{{ event?.title | uppercase }}</h3>
<img [src]="event?.image" alt="">
<strong>{{ event?.price | currency }}</strong>
<p>{{ event?.description | slice:0:10}}</p>
<p>{{ today | date:'HH:mm'}}</p>
<button (click)="addCart()" mat-raised-button color="primary">Check on its website</button>
<a [routerLink]="['/activities', event?.id]">Show details</a>
-->
<mat-card class="example-card mat-elevation-z5" style="margin:2em;">
    <mat-card-header>
        <mat-card-title>{{event?.title | uppercase }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="event?.image" alt="image">
    <mat-card-content>
        <p><strong>{{ event?.price | currency }}</strong></p>
        <p>{{ event?.description | slice:0:20}}</p>
        <p>{{ today | date:'HH:mm'}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="addCart()" mat-raised-button color="primary">Go to site</button>
        <a mat-button [routerLink]="['/activities', event?.id]">Show details</a>
    </mat-card-actions>
</mat-card>
<!--
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
-->