<img src="assets/images/logo.png" alt="logo" style="width: 100%;">
<mat-card>
    <mat-card-content>
        Filter by: 
        <section class="example-section">
            <mat-checkbox style="padding-right: 25px;" *ngFor="let filter of filters" class="example-margin" [(ngModel)]="filter.active" (click)="clickFilter(filter.type)">{{filter.description}}</mat-checkbox>
        </section>
    </mat-card-content>
</mat-card>

<div class="product-grid">
    <app-single-event
        *ngFor="let event of events"
        (eventClicked)="clickEvent($event)" 
        [event]="event">
    </app-single-event>
</div>