<mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer #drawer mode="over" [(opened)]="opened">
        <mat-nav-list>
            <div style="text-align: center">
                <img src="assets/images/logo-red.png" style="width:auto;max-width:150px;" alt="logo">
            </div>
            <div (click)="changeOpenedState()">
                <a mat-list-item [routerLink]="nav.url" *ngFor="let nav of fillerNav">{{nav.description}}</a>
            </div>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>

        <app-header [drawer]="drawer"></app-header>

        <router-outlet></router-outlet>

        <app-footer></app-footer>

    </mat-drawer-content>
</mat-drawer-container>
