<mat-card>
    <mat-card-content>
        Filter by: 
        <section class="example-section">
            <mat-checkbox style="padding-right: 25px;" *ngFor="let filter of filters" class="example-margin" [(ngModel)]="filter.active" (click)="clickFilter(filter.type)">{{filter.description}}</mat-checkbox>
        </section>
    </mat-card-content>
</mat-card>

<div class="product-grid">
    <app-volunteer
        *ngFor="let event of events"
        (eventClicked)="clickEvent($event)" 
        [event]="event">
    </app-volunteer>
</div>

<div *ngIf="!events.length" style="text-align: center; margin-top: 2em!important;">
    <h1><strong>Your filters did not match any results</strong></h1>
</div>
